.leaderboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.leaderboard-header {
  margin-bottom: 20px;
}

.cat-image {
  width: 200px;
  height: auto;
}

.leaderboard-container table {
  width: 100%;
  border-collapse: collapse;
}

.leaderboard-container td {
  padding: 20px; 
}
